name: Latest blog post workflow
on:
  schedule:
#     - cron: '0 0 * * 0'
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "8"
          feed_list: "https://stackoverflow.com/feeds/user/11964524, https://www.youtube.com/feeds/videos.xml?channel_id=UCS9thPERVX-05uV4YMqtMSg, https://export.arxiv.org/api/query?search_query=au:%22Luchao%20Qi%22&sortBy=submittedDate&sortOrder=descending"
